* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.el-main {
  padding: 12px !important;
}

/* 让所有页面根元素撑满 */
.el-main > .el-card {
  min-height: calc(100vh - 84px);
}

.el-main > div {
  min-height: calc(100vh - 84px);
}
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}